@import url(main.css);
 /*=============== GOOGLE FONTS ===============*/
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

 /*=============== BASE CSS ===============*/
 :root {
  /*=============== VARIABLES CSS ===============*/

  --header-height: 3rem;
  /*========== Colors ==========*/
  /*  Palette URL: https://paletton.com/#uid=52L0g0kjwlzVouxv0BG6M8H118N  */
  --Primary-black-color: #000000;
  --Primary-white-color: #ffffff;

  --primary-color-0: #0E5300;
  --Primary-color-1: #478F38;
  --Primary-color-2: #478F38;
  --Primary-color-3: #ADCEA6;

  --Secondary-color-1: #061543;
  --Secondary-color-2: #354574;
  --Secondary-color-3: #8A91A6;

  --third-color-1: #33ff00;
   --third-color-2: #88ff00;
   --third-color-3: #8bc548;
   --third-color-4: #416419;
   --third-color-5: #353502;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "system-ui", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --very-small-size: .2rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.2rem;
  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-top: 1000;
}



/*=============== Main section  ===============*/
.main {
  padding-top: var(--header-height);
  display: block;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

}

/*****************seccion-1***************/
.seccion-1 {
  background-image: url(../imagenes/home/worldmap.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100dvh - var(--header-height));
  width: 100%;
  gap: 1rem;
  align-items: start;
  padding: 20px;
}

.mainHall {
  color: var(--Primary-white-color);
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  padding-bottom: 20px;
}

.mainHall h4 {
  padding-top: 10px;
  text-wrap: wrap;
}
/***************contenedor-iconos*****************/
.contenedor-iconos {
  color: var(--Primary-color-3);
  display: block;
  padding: 20px;
}

.contenedor-iconos h3 {
  text-align: center;
  text-wrap: wrap;
}

.iconos {
  padding:  20px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.iconos i {
  background-color: var(--Primary-white-color);
  background-size: cover;
  border: var(--Secondary-color-1) solid 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color-0);
}

.iconos i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .contenedor-iconos {
    padding: 20px;
  }

  .iconos {
    gap: 0.5rem;
    padding: 10px;
  }

  .unir-boton {
    padding: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.unir-boton {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.unir-boton button {
  color: var(--Primary-color-3);
  padding: 10px 20px;
  background-color: var(--third-color-4);
  border-radius: 20px;

}

.unir-boton button:hover {
  border: 1px solid var(--third-color-1);
  transform: scale(1.1);
}
/*****************avatar-container***************/
.avatar-container {
  display: grid;
  grid-template-rows: calc(2, 1fr);
  position: relative;
  margin-bottom: 20px;
}
.avatar-coment {
  color: var(--Primary-white-color);
  font-weight: var(--font-bold);
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  margin: 20px;
}
.avatars {
  --avatar-count: 10;
  --avatar-size: 75px;

  --column-size: calc(var(--avatar-size) / 2);

  display: grid;
  grid-template-columns: repeat(var(--avatar-count), var(--column-size));
  transition: 500ms;
  transition-delay: 500ms;
  justify-content: center;

}

.avatars:hover {
  --column-size: calc(var(--avatar-size) * 1.5);
  transition-delay: 0ms;
}

.avatar {
  width: var(--avatar-size);
  border-radius: 100vw;
  border: 5px solid var(--Primary-white-color);
  box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / 0.2);

  transition: scale 500ms;
}

.avatar:hover {
  scale: 2;
  z-index: 2;
}

@supports selector(:has(+ *)) {

  .avatar:hover+.avatar,
  .avatar:has(+ .avatar:hover) {
    scale: 1.5;
  }
}

@media screen and (max-width: 1060px) {
  .avatars {
    --avatar-size: 70px;
  }

  .avatars:hover {
    --column-size: calc(var(--avatar-size) * 1.2);
    transition-delay: 0ms;
  }

  .unir-boton {
    padding: 0px 20px !important;
  }
}

@media screen and (max-width: 820px) {
  .avatars {
    --avatar-count: 10;
    --avatar-size: 75px;

    --column-size: calc(var(--avatar-size) / 2);

    display: grid;
    grid-template-columns: repeat(5, var(--column-size));
    transition: 500ms;
    transition-delay: 500ms;
    justify-content: center;

  }
}

@media screen and (max-width: 620px) {
  .avatars {
    --avatar-size: 65px;
  }
}

@media screen and (max-width: 520px) {
  .avatars {
    --avatar-size: 55px;
  }
}

/*****************fin de seccion-1***************/
/*****************seccion-2 noticias***************/
#noticias {
  display: block;
  background-color: var(--Primary-color-1);
  width: 90%;
  margin: 40px auto;
}

.noticias-container {
  height: 100dvh;
  display: flex;
}

/* Estilos de los botones de categoría */
.boton-group {
  float: left;
  width: 180px;
  height: 100vh;
  z-index: var(--z-tooltip);
  display: block;
  padding-top: var(--header-height);
  left: 0;
}

.boton-group .boton {
  width: 100%;
  height: 40px;
  color: var(--primary-color-0);
  margin: 10px;
  padding-left: 10px;
  background-color: var(--Primary-white-color);
  border-radius: 10px 0 0 10px;
  text-align: start;
  cursor: pointer;
}

.boton-group .boton:hover,
.boton.active {
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
  color: var(--third-color-1);
  background-color: var(--Primary-color-1);
}

.boton-group .boton i {
  display: none;
}
.noticias-sidebar {
  flex: 0 0 auto;
  width: 180px;
  height: 100vh;
  z-index: var(--z-tooltip);
  left: 0;
  top: 0;
  background-color: var(--primary-color-0);
}

.noticias-body {
  flex: 1;
  margin: 20px ;

}

.noticias-header {
  color: var(--Secondary-color-1);
  height: calc(var(--header-height) - 20px);
}

.noticias-content {
  padding-top: 10px;
  max-width: 90%;
  max-height: calc(100vh - var(--header-height) - 40px);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

/* Estilos para las cards/noticias */
.card {
  background-color: var(--Primary-white-color);
  border: 1px solid var(--Primary-color-3);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.card-body {
  display: grid;
  grid-template-rows: auto auto auto; /* Tres filas, cada una ajustable automáticamente */
  grid-template-columns: 1fr; /* Una columna */
  gap: 10px; /* Espacio entre elementos */
}

.contenedor {
  grid-row: 1; /* Primera fila */
}

.contenedor1 {
  grid-row: 2; /* Segunda fila */
  display: grid;
  grid-template-columns: 30% 70%; /* Dos columnas, la primera ocupa el 30% y la segunda el 60% */
  gap: 10px; /* Espacio entre elementos */
  height: auto;
  width: 90%;
}

.contenedor2 {
  grid-row: 3; /* Tercera fila */
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}
.card-title {
  margin-top: 5px;
  color: var(--Secondary-color-1);
}

.card-text {
  color: var(--Secondary-color-2);
  background-color: var(--Primary-color-3);
  text-align: justify;
  padding: 10px;
}

.card-img-top {
  border-radius: 5px;
  position: relative;
  width: 100%; 
  height: 150px;
}
.card-nota {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--Secondary-color-1);
  padding-top: 10px;
}
/* Estilos de los botones de leer más */
.card-url {
  padding: 8px;
  margin: 8px;
  background-color: var(--third-color-4);
  color: var(--Primary-color-3);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: max-content;
  text-wrap: nowrap;
}
@media (max-width: 820px) {
  .boton-group .boton i {
    display: block;
  }

  .boton-group .boton span {
    display: none;
  }

  .noticias-sidebar {
    max-width: 80px;
  }

  .boton-group {
    max-width: 80px;
  }
  .card-body {
      display: block; /* Cambiar a modo de bloque */
  }

  .contenedor1 {
      display: block; /* Cambiar a modo de bloque */
  }
  .card-url {
    display: block;
  }
}

/*****************fin de seccion-2***************/
/*****************Seccion-3 recomendaciones***************/
.seccion-3 {
  margin: 20px auto;
  width: 90%;
  height: 90dvh;
  background-color: var(--Primary-color-3);
}
.recomendaciones {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;

}
.reco-title {
  color: var(--Primary-color-3);
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--Secondary-color-2);
}
.reco-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.reco-card:hover {
  border: 2px solid var(--Primary-white-color);
  box-shadow: 0px 30px 18px -8px var(--primary-color-0);
  transform: scale(1.10, 1.10); 
}
.reco-card {
  height: auto;
  width: auto;
  border: 2px solid var(--Secondary-color-2);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: auto;
  gap: 0.5rem;
  padding: 5px;
}

.reco-body {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
  
}

.reco-image {
  position: relative;
}

.reco-image img {
  width: 100%;
  height: 100%;
}

.reco-image img:hover {
  opacity: 0.8;
}

.reco-logo {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.reco-image:hover .reco-logo {
  display: block;
  color: var(--Primary-color-0);
}

.reco-body h3 {
  color: var(--primary-color-0);
  font-size: var(--smaller-font-size);
  text-wrap: wrap;
}

.reco-description {
  font-size: 12px;
  text-align: justify;
  color: var(--Primary-white-color);
}

.reco-price {
  display: inline-block;
  width: 100%;
  color: var(--primary-color-0);
  padding: 5px;
}

.reco-body a span img {
  height: 15px;
}

.reco-button {
  display: flex;
  float: right;
  padding: 5px 10px;
  background-color: var(--Primary-color-3);
  border: var(--Secondary-color-3) solid 1px;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {

  .reco-box {
    display: inline-table;
  }
  .reco-card{
    margin-bottom: 20px;
  }
  .seccion-3 {
    margin: 20px auto ;
    width: 90%;
    height: max-content;
    background-color: var(--Primary-color-3);
  }
}
@media screen and (min-width: 801px) {

  .reco-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .seccion-3 {
    margin: 20px auto;
    width: 90%;
    height: fit-content;
    background-color: var(--Primary-color-3);
  }
}
@media screen and (min-width: 1050px) {

  .reco-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .seccion-3 {
    margin: 20px auto;
    width: 90%;
    height: fit-content;
    background-color: var(--Primary-color-3);
  }
}

/*****************fin de seccion-3***************/
/*****************seccion-4 tabla***************/
.seccion-body {
  width: min(90%, 100% - 3rem);
  height: fit-content;
  margin-inline: auto;
  margin-bottom: 2rem;
}
.section-tittle h2{
  background-color: var(--Secondary-color-1);
  width: min(90%, 100% - 3rem);
  height: 50px;
  margin: 20px auto;
  padding: 10px;
}

table {
  background-color: #bbecb1;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-weight: var(--font-medium);
}
caption {
  background-color: var(--Secondary-color-3);
  color: var(--Primary-white-color);
  text-transform: capitalize;
}
tbody img {
  width: 70px;
  height: 70px;
}
th, td, caption {
  padding: 1rem;
  text-align: left;
}

th {
  background-color: var(--Primary-color-3);
}

tr:nth-child(even) {
  background-color: #b7e4ae ;
}

tr:hover {
  background-color: var(--Primary-color-3);
}
@media screen and (max-width: 1030px) {
  .seccion-body {
    width: 100%;

  }
  th, td, caption {
    padding: 0.2rem;
    text-align: left;
  }
  td {
    padding: 0px 5px;
  }
}
@media screen and (max-width: 820px) {
  .seccion-body {
    width: 80%;
  }
  th {
    display: none;
  }
  td {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  td::before {
    content: attr(data-cell) ": ";
    color: var(--Primary-color-1);
  }

}

