<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="slider-descriptioncription"
    content="slider-descriptioncubre el mundo con Green World. Explora slider-descriptiontinos internacionales y disfruta de experiencias únicas en tus viajes.">
  <meta name="keywords"
    content="Green World, Viajes Internacionales, slider-descriptiontinos, Aventuras, Turismo, Reservaciones">
  <meta name="author" content="hamza_aghmou">
  <meta name="robots" content="index, follow">
  <meta name="locality" content="España, Europa, America, Africa, Asia">

  <!-- Etiqueta Open Graph para compartir en reslider-description sociales -->
  <meta property="og:title" content="Green World">
  <meta property="og:slider-descriptioncription"
    content="slider-descriptioncubre el mundo con Green World. Explora slider-descriptiontinos internacionales y disfruta de experiencias únicas en tus viajes.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.GreenWorld.com/">
  <title>GreenWorld</title>

  <!-- Otras etiquetas head como hojas de estilo CSS, enlaces a fuentes, etc. -->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <link rel="stylesheet" type="text/css" href="../css/galeria.css">
  <!--=============== REMIXICONS ===============-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <!--=============== PLATTEON ===============-->
  <link rel="stylesheet" type="text/css" href="http://paletton.com/#uid=11m0u0klemqWvAVvrw4bMea1Xbl">
  <!--=============== magnific-popup ===============-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" >


</head>

<body>
  <!--==================== HEADER ====================-->
  <header>
    <nav>
        <div class="logo" id="logo">
            <a href="../index.html"><i class="fa-solid fa-earth-europe"></i>
                <span>GreenWorld</span>
            </a>
        </div>
        <label for="drop" class="toggle"><i class="fa-solid fa-bars"></i></label>
        <input type="checkbox" id="drop" >
        <ul class="menu">
            <li>
                <label for="drop-1" class="toggle">Home</label>
                <a href="../index.html">Home</a>
                <input type="checkbox" id="drop-1" >
                <ul>
                    <li><a href="../index.html#seccion-1">Noticias</a></li>
                    <li><a href="../index.html#seccion-3">Recomendaciones</a></li>
                    <li><a href="../index.html#seccion-4">Especialidad</a></li>
                </ul>
            </li>
            <li>

                <label for="drop-2" class="toggle">Galeria</label>
                <a href="galeria.html">Galeria</a>
                <input type="checkbox" id="drop-2">
                <ul>
                    <li><a href="galeria.html#slider">Top Destinos</a></li>
                    <li><a href="galeria.html#galeria">Top Galeria</a></li>
                </ul>
            </li>

            <li>

                <label for="drop-3" class="toggle">Presupuesto</label>
                <a href="presupuesto.html">Presupuesto</a>
                <input type="checkbox" id="drop-3">
                <ul>
                    <li><a href="presupuesto.html#top-eventos">Eventos</a></li>
                    <li><a href="presupuesto.html#presupuesto">Presupuesto</a></li>
                </ul>
            </li>
            <li>
                <label for="drop-4" class="toggle">Contacto</label>
                <a href="contacto.html">Contacto</a>
                <input type="checkbox" id="drop-4">
                <ul>
                    <li><a href="contacto.html#login-container">Login</a></li>
                    <li><a href="contacto.html#informacion">Informacion</a></li>
                    <li><a href="contacto.html#map-contacto">Ubicacion</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
  <!--==================== Home ====================-->
  <section class="home" id="home">
    <div class="home-container">
      <div class="slider" id="slider">
        <div class="slider-items" style="background-image: url('../imagenes/home/Home-01.jpg');">
          <div class="slider-content">
            <div class="slider-name">
              <h3> Suiza </h3>
            </div>
            <div class="slider-description">
              <p>Alpes, relojes, chocolate, banca, neutralidad, eficiencia, paisajes,
                multilingüe, calidad de vida.</p>
            </div>
            <button class="slider-button">Ver Más</button>
          </div>
        </div>
        <div class="slider-items" style="background-image: url('../imagenes/home/Home-02.jpg');">
          <div class="slider-content">
            <div class="slider-name">
              <h3> Finlandia </h3>
            </div>
            <div class="slider-description">
              <p>Saunas, auroras boreales, lagos, educación, diseño, tecnología, naturaleza.</p>
            </div>
            <button class="slider-button">Ver Más</button>
          </div>
        </div>
        <div class="slider-items" style="background-image: url('../imagenes/home/Home-03.jpg');">
          <div class="slider-content">
            <div class="slider-name">
              <h3> Islandia </h3>
            </div>
            <div class="slider-description">
              <p>Geiseres, glaciares, fiordos, volcanes, música, literatura, energía
                geotérmica</p>
            </div>
            <button class="slider-button">Ver Más</button>
          </div>
        </div>
        <div class="slider-items" style="background-image: url('../imagenes/home/Home-04.jpg');">
          <div class="slider-content">
            <div class="slider-name">
              <h3> Australia </h3>
            </div>
            <div class="slider-description">
              <p>Canguros, koalas, playa, desierto, Gran Barrera de Coral.</p>
            </div>
            <button class="slider-button">Ver Más</button>
          </div>
        </div>
        <div class="slider-items" style="background-image: url('../imagenes/home/Home-05.jpg');">
          <div class="slider-content">
            <div class="slider-name">
              <h3> Holanda </h3>
            </div>
            <div class="slider-description">
              <p>Tulipanes, molinos de viento, bicicletas, canales, queso, arte.</p>
            </div>
            <button class="slider-button">Ver Más</button>
          </div>
        </div>
        <div class="slider-items" style="background-image: url('../imagenes/home/Home-06.jpg');">
          <div class="slider-content">
            <div class="slider-name">
              <h3> Irlanda </h3>
            </div>
            <div class="slider-description">
              <p>Paisajes verdes, celtas, música, literatura, pubs, cultura.</p>
            </div>
            <button class="slider-button">Ver Más</button>
          </div>
        </div>
      </div>

      <div class="slide-button">
        <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
      </div>

    </div>
  </section>

  <!--==================== Galeria Section ====================-->
  <section class="galeria" id="galeria">
    <div class="container">
      <div class="row">
          <h4 class="galeria-titulo">Galeria De Nuestro Red De Amigos</h4>
      </div>

      <div class="portfolio-menu">
        <ul>
          <li class="portfolio-boton active" data-filter="*">All</li>
          <li class="portfolio-boton" data-filter=".playa"><i
              class="fa-solid fa-umbrella-beach"></i><span>Playas</span></li>
          <li class="portfolio-boton" data-filter=".castillo"><i
              class="fa-brands fa-fort-awesome"></i><span>Castillos</span></li>
          <li class="portfolio-boton" data-filter=".montana"><i
              class="fa-solid fa-mountain-sun"></i><span>Montañas</span></li>
          <li class="portfolio-boton" data-filter=".naturaleza"><i
              class="fa-solid fa-tree"></i><span>Naturaleza</span></li>
        </ul>
      </div>
      <div class="portfolio-item">
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53619616737_f7de2439d8_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53619616737_f7de2439d8_z.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53619616722_820e546921_c.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53619616722_820e546921_c.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53620826684_3b158432a3_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620826684_3b158432a3_z.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53620477941_9a968013fd_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620477941_9a968013fd_z.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53620814689_2cfdfa01da_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620814689_2cfdfa01da_z.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53620687538_df3e52198d_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620687538_df3e52198d_z.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620944645_33434bc708_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620944645_33434bc708_z.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620704883_3f2fd1a63c_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620704883_3f2fd1a63c_z.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620704873_047c19e7b9_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620704873_047c19e7b9_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620694808_c5f732b3ec_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620694808_c5f732b3ec_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620821674_905aa52bef_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620821674_905aa52bef_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620694828_70769bb17c_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620694828_70769bb17c_z.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53620700093_034605ddc5_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620700093_034605ddc5_z.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53619616777_88b8735b90_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53619616777_88b8735b90_z.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53620700103_730dd1f467_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620700103_730dd1f467_z.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53620826714_73d190442b_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620826714_73d190442b_z.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53620826734_1a586eb7ca_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620826734_1a586eb7ca_z.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53620477931_18251bd9f7_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620477931_18251bd9f7_z.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53620814704_916cda0cc3_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620814704_916cda0cc3_z.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53620687598_c3cf680b4c_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620687598_c3cf680b4c_z.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53620477956_c3b79088d8_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620477956_c3b79088d8_z.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53619604377_ef2cefa6d7_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53619604377_ef2cefa6d7_z.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620944665_412b09011d_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620944665_412b09011d_z.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620831729_54dfaf8110_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620831729_54dfaf8110_z.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620831744_90de722926_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620831744_90de722926_z.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620831804_40c0383166_n.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620831804_40c0383166_n.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620831779_d73b7281cf_n.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620831779_d73b7281cf_n.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620934815_f7d32eb8ac_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620934815_f7d32eb8ac_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620934825_10d2f7fd82_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620934825_10d2f7fd82_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620934830_99de3becb7_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620934830_99de3becb7_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620694883_27360082b9_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620694883_27360082b9_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53619611647_785dd37e8b.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53619611647_785dd37e8b.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53620939985_4581d868e2.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620939985_4581d868e2.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53620939975_150d35479c.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620939975_150d35479c.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620831784_ffe93a6a8a_n.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620831784_ffe93a6a8a_n.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620704908_91bb249d01_n.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620704908_91bb249d01_n.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53619604382_085cc67517_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53619604382_085cc67517_z.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53620687603_a27b93299f_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620687603_a27b93299f_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620694893_f727490712_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620694893_f727490712_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620821814_5d6f24d123.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620821814_5d6f24d123.jpg" alt="">
          </a>
        </div>
        <div class="item montana">
          <a href="https://live.staticflickr.com/65535/53620939950_ec9c875130_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620939950_ec9c875130_z.jpg" alt="">
          </a>
        </div>
        <div class="item naturaleza">
          <a href="https://live.staticflickr.com/65535/53620821804_bcca89425e_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620821804_bcca89425e_z.jpg" alt="">
          </a>
        </div>
        <div class="item castillo">
          <a href="https://live.staticflickr.com/65535/53620704918_a39ddfeaae_n.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620704918_a39ddfeaae_n.jpg" alt="">
          </a>
        </div>
        <div class="item playa">
          <a href="https://live.staticflickr.com/65535/53620687628_4d0f6bd70f_z.jpg" class="fancylight popup-btn"
            data-fancybox-group="light">
            <img class="img-fluid" src="https://live.staticflickr.com/65535/53620687628_4d0f6bd70f_z.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--==================== FOOTER ====================-->
  <footer class="footer">
    <div class="grupo-1">
      <div class="box">
        <figure>
          <a href="#">
            <img src="../imagenes/home/logotipo.png" alt="logotipo">
          </a>
        </figure>
      </div>
      <div class="box">
        <h2>Contactanos</h2>
        <p><span><i class="fa-solid fa-envelope"></i></span> : greenworld@greenworld.es</p>
        <p><span><i class="fa-solid fa-phone"></i></span> : 665 85 29 51</p>
        <p><span><i class="fa-solid fa-location-dot"></i></span> : C/ RIO JARAMA 89, 45007 TOLEDO, EPAÑA</p>
      </div>
      <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
          <a href="#" class="social-icons"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="social-icons"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" class="social-icons"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="social-icons"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="grupo-2">
      <small>&copy; 2021 <b>GreenWorld</b> - Todos los Derechos Reservados.</small>
    </div>
  </footer>
  <script src="../js/js.js" defer></script>
  <!-- <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script> -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

</body>

</html>